# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [2]:
import pandas as pd
DATA_FOLDER = './Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per year of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [3]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [70]:
from IPython.core.display import HTML
HTML(DATA_FOLDER+'/titanic.html')
titanic_frame = pd.read_excel(DATA_FOLDER+'/titanic.xls',index_col=None)
titanic_frame['pclass'] = titanic_frame.pclass.astype('category')
titanic_frame['survived'] = titanic_frame.survived.astype('category')
titanic_frame['sex'] = titanic_frame.sex.astype('category')
titanic_frame['sibsp'] = titanic_frame.sibsp.astype('category')
titanic_frame['parch'] = titanic_frame.parch.astype('category')
titanic_frame['cabin'] = titanic_frame.cabin.astype('category')
titanic_frame['embarked'] = titanic_frame.embarked.astype('category')
titanic_frame['boat'] = titanic_frame.boat.astype('category')
titanic_frame['body'] = titanic_frame.body.astype('category')

0                        St Louis, MO
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4     Montreal, PQ / Chesterville, ON
5                        New York, NY
6                          Hudson, NY
7                         Belfast, NI
8                 Bayside, Queens, NY
9                 Montevideo, Uruguay
10                       New York, NY
11                       New York, NY
12                      Paris, France
13                                NaN
14                      Hessle, Yorks
15                       New York, NY
16                       Montreal, PQ
17                       Montreal, PQ
18                                NaN
19                       Winnipeg, MN
Name: home.dest, dtype: category
Categories (369, object): [?Havana, Cuba, Aberdeen / Portland, OR, Albany, NY, Altdorf, Switzerland, ..., Worcester, MA, Yoevil, England / Cottage Grove, OR, Youngstown, OH, Zurich, Switzerland]

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

# Write your answer here

There are 14 Attributes. The first one is pclass which is an int between 1 and 3 that represent the class in which the passenger was (first, second or third). It can be Categorical (only 3)

The second attribute is the survived one, which is just an integer ( 1 or a 0) that represent if the passenger survived the acccident, so it can be categorical too.

The name are chains of characters and can't be categorical.

The sex attribute can be categorical as it is written as (male or female) and considered as an object, so we can categorize it.

The age attribute is in year, so it's a double as it seems some passenger were not even 1 year old, or the data are wrong ( the second passenger is 0.9167). There are also some missing data, it won't be categorical as there are too many values.

The sibsp attribute is the number of siblings/spouses aboard is an integer, and can be categorical as it has very few different values (categorical data stored with 8 bit index).

The parch attribute is the number of parent/children aboard is an integer, and can also be in a category as few different values.

The ticket attribute is an object that represent the ticket number and cannot be categorical as there are lot of different syntaxes.

The fare is a double that represent the price payed, it has too many different values to be categorized.

The cabin (string) is the level and number of cabin as there are only 186 different we can categorize it.

The embarked attribute is a char (C, Q or S) so can be categorical

The boat is an object (string) an can be categorize as there are 28 values.

The body is a double that is the body ID number, lot of values are NaN as they survived. There are 121 values and it can be categorical

The home.dest is a string that represent the home/destination of the passenger. Are they are too many values it can be categorized.

In [74]:
titanic_frame.pclass.hist(bins=500).plot()

[]